.wrapperComments {
    @include wrapper_width();

        .commentSlider {
          position: relative;
          overflow: hidden;

              .commentItems {
                margin-top: 10px;
                position: relative;
                display: flex;

                    .comment {
                      margin-top: 10px;
                      min-width: 100%;
                      @include wrapper_Flex($jc: flex-start, $fdir: column);

                          .sign {
                                img {
                                  margin: 0 auto;
                                  margin-bottom: 10px;
                                  width: 74px;
                                  display: block;
                                }

                                p {
                                  color: $logoPattern;
                                  text-align: center;
                                  text-transform: uppercase;
                                }
                          }

                          .text {
                            margin: 0 auto;
                            margin-top: 20px;
                            padding: 0 55px;
                            max-width: 780px;
    
                                p {
                                  position: relative;
    
                                      &::before, &::after {
                                        font-size: 70px;
                                        line-height: 35px;
                                        color: $logoPattern;
                                        position: absolute;
                                      }
    
                                      &::before {
                                        top: -17.5px;
                                        content: '«';
                                        left: -55px;
                                      }
    
                                      &::after {
                                        bottom: -5px;
                                        content: '»';
                                        right: -55px;
                                      }
                                }
                          }
                    }
              }

              .sliderBtn {
                margin-top: 50px;
                text-align: center;

                    .leftArrow, .rightArrow {
                      border-left: 17px solid transparent;
                      border-right: 17px solid transparent;
                      border-bottom: 25px solid $logoPattern;
                      border-radius: 5px;
                      cursor: $cursor;
                      transition: $trans;
                      display: inline-block;

                          &:hover {border-bottom-color: $logoM;}
                    }

                    .leftArrow {
                      transform: rotate(-90deg);
                    }

                    .rightArrow {
                      transform: rotate(90deg);;
                    }
              }
        }
}