@import 'normalize';
@import 'variables-mixins';



@font-face {
  src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
  font-family: ptSans;
}

@font-face {
  src: url(../fonts/Russia/Russia-Regular.otf);
  font-family: logoR;
}



// GENERAL rules

body, header, footer, main, section,
div, img, fieldset, textarea, input {
  box-sizing: border-box;
}

body {
    font-family: ptSans;
    font-size: 16px;
    line-height: 1.5;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p {margin: 0;}

address {
  font-style: normal;

    p {
      margin-bottom: 10px;
      &:last-child {margin-bottom: 0;}
    }
}

i {
  display: inline-block;
  margin-right: 15px;
  color: $logoPattern;
}



// Company name in text
.logoT {
  @include logoText();

  span {                           
      &:nth-of-type(1) {color: $logoM;}
  }
}



// Headings
h1, h2, h3, h4 {
  font-weight: normal;
  text-align: left;
}

h1, h2, h3 {text-transform: uppercase;}

h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: bolder;
  color: $logoM;
}

h2 {
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
  color: $logoPattern;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    margin: 0 auto;
    width: 160px;
    height: 2px;
    background: $mainColor;
  }
}

h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: $logoPattern;

  &.contacts {text-transform: none;}
}

h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: $logoPattern;
}

.brief {
  margin-bottom: 35px;
  text-align: center;
}



// Anchors
a, a:visited {
  font-size: 14px;
  letter-spacing: 1px;
  color: $logoPattern;
  text-decoration: none;
  transition: $trans;

  &:hover {
    color: $logoM;
    cursor: $cursor;
  }

  &.button {
    @include button();
    &:hover {border-color: $logoM;}
  }

  &.notActive {
    color: $textColor;
    cursor: default;
  }

  // Button to the top of the page
  &.up {
    position: fixed;
    right: 20px;
    bottom: 105px;
    z-index: 99;
    display: none;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 25px solid $logoPattern;
    border-radius: 5px;
    opacity: .5;

    &:hover {opacity: 1;}
  }
}

.socNet {
  display: flex;

  a {
    margin-right: 20px;
    &:last-child {margin-right: 0;}
  }

  img {
    display: block;
    width: 35px;
    height: auto;
  }
}



// Form
form {
  @include wrapper_Flex($fdir: column);
}

input, textarea {
  @include formInputs();
  padding: 10px;
  color: $logoPattern;
  -webkit-appearance: none;
  outline: none;
}

input {
  width: 100%;
  margin-bottom: 15px;

  &:nth-of-type(1) {margin-top: 5px;}
}

textarea {
  min-height: 150px;
  margin-bottom: 30px;
}

.submit {
  margin: 0 auto;
  text-align: center;

  input {
    @include button();
    margin-bottom: 0;
    background: transparent;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    transition: $trans;
    cursor: $cursor;

    &:hover {
      border-color: $logoM;
      color: $logoM;
    }
  }
}



// Answer to user about form submition
.userResponseWrapper {
  @include wrapper_Flex(center);
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;

  .userResponse {
    @include wrapper_Flex(center, column);
    align-items: center;
    flex-grow: 1;
    max-width: 350px;
    padding: 30px;
    background: $mainColor;
    border: 2px solid $logoM;
    border-radius: $borderRad;
    text-align: center;
    color: $logoPattern;

    .logoI {
      display: block;
      margin-bottom: 15px;

      img {
        @include logoIcon(60px);
        margin: 0 auto;
      }
    }

    p {
      span {color: $logoM;}
    }

    .button {
      @include button();
      margin-top: 20px;
      transition: $trans;

      &:hover {
        border-color: $logoM;
        color: $logoM;
      }
    }
  }
}



// INTRO
@import 'intro';



// MAIN page

// Services
@import 'main-page-services';

// About us
@import 'main-page-about';

// Photo
@import 'main-page-photo';

// Testimonials
@import 'main-page-testimonials';



// CONTACTS page
@import 'contacts-page';



// ROUTS page
@import 'routs-page';



// FOOTER
@import 'footer';
  